
- if @head_item
  -#%h3
  -#  Top
  %ul
    %li.head_item
      %a{ :href => '/' + @head_item.path.join('/') + '.html' }
        = @head_item.title

%h3{ :onclick => 'document.location = "/documentation.html"', :style => 'cursor: pointer' }
  Documentation
%ul
  - @items.each do |item|
    %li{ :class => item == @item ? 'current' : nil }
      %a{ :href => '/' + item.path.join('/') + '.html' }
        = item.title
    - ((item[:names] || []) - [ item.title ]).sort.each do |al|
      %li{ :class => 'alias' }
        %a{ :href => '/' + item.path.join('/') + '.html' }
          = '  `-- ' + al

%h3
  More
%ul.contact

  - elts = []
  - elts << [ '/presentations.html', 'presentations' ]
  - elts << [ '/resources.html', 'resources' ]
  - elts << [ '/users.html', 'users' ]

  - elts.each do |elt|
    %li{ :class => elt.first == @item.identifier[0..-2] + '.html' ? 'current' : nil }
      %a{ :href => elt.first }
        = elt.last

%h3
  Meta
%ul.contact

  - elts = []
  - elts << [ '/source.html', 'source' ]
  - elts << [ '/download.html', 'download' ]
  - elts << [ 'http://jmettraux.wordpress.com', 'blog' ]
  - elts << [ '/lists.html', 'mailing list' ]
  - elts << [ 'http://ruote-ci.s3.amazonaws.com/ci.html', 'continuous integration' ]
  - elts << [ 'http://ruote-irclogs.s3.amazonaws.com/logs.html', 'IRC' ]
  -#- elts << [ 'https://www.ohloh.net/p/ruote/', 'ohloh' ]

  - elts.each do |elt|
    %li{ :class => elt.first == @item.identifier[0..-2] + '.html' ? 'current' : nil }
      %a{ :href => elt.first }
        = elt.last

%h3
  %span
    Search
%ul.contact
  %li
    %form{ :method => 'GET', :action => 'http://www.google.com/search' }
      %input#qq{ :type => 'text', :style => '', :name => 'qq' }
      %input#q{ :type => 'hidden', :name => 'q' }
      %input{ :type => 'submit', :value => 'search', :onclick => 'adjustSearch();' }

:javascript
  function adjustSearch() {
    $('#q').val($('#qq').val() + ' site:http://ruote.rubyforge.org');
  } 

